<div class="grid grid-cols-[300px,1fr] bg-bg min-h-screen	">
    <app-nav />
    <div>
        <div class="mx-9 flex justify-between items-center mt-12">
            <h1 class="font-folito text-4xl text-white">Dashboard</h1>
            <div class="flex">
                <div class="inline-flex z-50 items-center gap-3">
                    <div
                        class="crop relative bg-gradient-to-t from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                        <div class="p-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-search text-white">
                                <circle cx="11" cy="11" r="8" />
                                <path d="m21 21-4.3-4.3" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inline-flex -ml-1.5 z-40 items-center gap-3">
                    <div
                        class="crop relative bg-gradient-to-t from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                        <div class="p-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-square-dot text-white">
                                <rect width="18" height="18" x="3" y="3" rx="2" />
                                <circle cx="12" cy="12" r="1" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inline-flex -ml-1.5 z-30 items-center gap-3">
                    <div
                        class="relative bg-gradient-to-t from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                        <div class="p-1  w-14 h-14">
                            <img class=" rounded-full" src="../../../assets/img/profile.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center mx-9 mt-14">
            <div class="flex item-center gap-x-20">
                <div>
                    <div class="flex flex-col gap-y-3">
                        <h6 class="font-folito text-xl text-grey-info-header font-light">Total Balance</h6>
                        <h1 class="font-folito text-3xl text-white  font-light">$876,676,90</h1>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col gap-y-3">
                        <h6 class="font-folito text-xl text-grey-info-header  font-light">Crypto</h6>
                        <h1 class="font-folito text-3xl text-white  font-light">$876,676,90</h1>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col gap-y-3">
                        <h6 class="font-folito text-xl text-grey-info-header font-light">Fiat</h6>
                        <h1 class="font-folito text-3xl text-white  font-light">$876,676,90</h1>
                    </div>
                </div>
            </div>

            <div>
                <div class="p-4 gradient rounded-full border-grey-border-light border-2">
                    <h4 class="text-light-grey-summary-txt text-lg ">Manage Accounts</h4>
                </div>
            </div>
        </div>

        <div class="mt-16">
            <div class="relative">
                <div class="flex flex-col mx-10 ">
                    <div class="flex gap-3">
                        <div class="div1 h-6 bg-crypto-1">
                            <div class="flex z-10 mt-11">

                                <div class="flex flex-col z-10">
                                    <div class="flex items-center">
                                        <div class="rounded-full bg-crypto-1 h-3 w-3  z-10 mr-2 "></div>
                                        <h5 class="text-grey-info-header font-folito text-xl font-light">Bitcoin</h5>
                                    </div>

                                    <div class="flex items-center mt-2">
                                        <div class="rounded-full h-3 w-3  z-10 mr-2"></div>
                                        <h3 class="text-white font-folito text-2xl	font-light">$45,676,90</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div2 h-6 bg-crypto-2">
                            <div class="flex z-10 mt-11">

                                <div class="flex flex-col z-10">
                                    <div class="flex items-center">
                                        <div class="rounded-full bg-crypto-2 h-3 w-3  z-10 mr-2 "></div>
                                        <h5 class="text-grey-info-header font-folito text-xl font-light">Ethereum</h5>
                                    </div>

                                    <div class="flex items-center mt-2">
                                        <div class="rounded-full h-3 w-3  z-10 mr-2"></div>
                                        <h3 class="text-white font-folito text-2xl	font-light">$45,676,90</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div3 h-6 bg-crypto-3">
                            <div class="flex z-10 mt-11">

                                <div class="flex flex-col z-10">
                                    <div class="flex items-center">
                                        <div class="rounded-full bg-crypto-3 h-3 w-3  z-10 mr-2 "></div>
                                        <h5 class="text-grey-info-header font-folito text-xl font-light">Binance Coin
                                        </h5>
                                    </div>

                                    <div class="flex items-center mt-2">
                                        <div class="rounded-full h-3 w-3  z-10 mr-2"></div>
                                        <h3 class="text-white font-folito text-2xl	font-light">$45,676,90</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div3 h-6 bg-crypto-4">
                            <div class="flex z-10 mt-11">

                                <div class="flex flex-col z-10">
                                    <div class="flex items-center">
                                        <div class="rounded-full bg-crypto-4 h-3 w-3  z-10 mr-2 "></div>
                                        <h5 class="text-grey-info-header font-folito text-xl font-light">Riple</h5>
                                    </div>

                                    <div class="flex items-center mt-2">
                                        <div class="rounded-full h-3 w-3  z-10 mr-2"></div>
                                        <h3 class="text-white font-folito text-2xl	font-light">$45,676,90</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div4 h-6 bg-crypto-5">
                            <div class="flex z-10 mt-11">

                                <div class="flex flex-col z-10">
                                    <div class="flex items-center">
                                        <div class="rounded-full bg-crypto-5 h-3 w-3  z-10 mr-2 "></div>
                                        <h5 class="text-grey-info-header font-folito text-xl font-light">Other Coins
                                        </h5>
                                    </div>

                                    <div class="flex items-center mt-2">
                                        <div class="rounded-full h-3 w-3  z-10 mr-2"></div>
                                        <h3 class="text-white font-folito text-2xl	font-light">$45,676,90</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="div1 h-2 blur-div bg-crypto-1"></div>
                        <div class="div2 h-2 blur-div bg-crypto-2"></div>
                        <div class="div3 h-2 blur-div bg-crypto-3"></div>
                        <div class="div4 h-2 blur-div bg-crypto-4"></div>
                    </div>
                </div>
                <div>
                    <div class="h-24 w-full	test -mt-2.5">

                    </div>
                </div>
            </div>

        </div>

        <div class="mt-14 mx-5">
            <div class="bg-snd-bg border-grey-border-dark rounded-t-[34px] border-2 w-full tout ">
                <div class="pl-11 pt-11">
                    <h1 class="text-txt-titl-section text-4xl font-Folito font-light">Wallets</h1>

                    <div class="flex gap-5 mt-8 flex-wrap">

                        <app-card-wallets />
                        <app-card-wallets />
                        <app-card-wallets />
                        <app-card-wallets />
                        <app-card-wallets />
                    </div>
                </div>

                <div class="bg-snd-bg border-grey-border-dark rounded-t-[34px] border-2 w-full px-11 py-11 tout">
                    <div class="flex flex-col">
                        <h1 class="text-txt-titl-section text-4xl font-Folito font-light">Summary</h1>
                        <div class="flex flex-col gap-3">
                            <div class="flex relative gradient border-grey-border-light border-2 rounded-full py-4 pl-5 pr-10 max-w-[736px] justify-between">
                                <h3 class="text-light-grey-summary-txt text-xl font-Folito">Last transaction</h3>
                                <h3 class="text-light-grey-summary-txt text-xl font-Folito ml-36">Outgoing</h3>
                                <h3 class="text-light-grey-summary-txt text-xl font-Folito">Incorning</h3>

                                    <div class="container-test absolute top-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute  w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute top-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute  w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute  w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute  w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>
                    
                            </div>

                            <div class="flex relative gradient border-grey-border-light border-2 rounded-full py-4 pl-5 pr-9 max-w-[736px] justify-between items-center">
                                <div class="flex gap-4 items-center">
                                    <div>
                                        <img class="w-12 h-12 rounded-full" src="../../../assets/img/profile.webp" alt="">
                                    </div>
                                    <div class="flex flex-col">
                                        <h3 class="text-light-grey-summary-txt text-xl font-Folito">Last transaction</h3>
                                        <h3 class="text-dark-grey-summary-txt text-xl font-Folito">0xfh2..Ga9s</h3>
                                    </div>
                                </div>
                                <h3 class="text-light-grey-summary-txt text-xl font-Folito ml-[90px]">--</h3>
                                <div class="flex flex-col items-center">
                                    <h3 class="text-green text-xl font-Folito">0.0056 ETH</h3>
                                    <h3 class="text-dark-grey-summary-txt  text-xl font-Folito">$14.67 USD</h3>

                                </div>

                                    <div class="container-test absolute top-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute top-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>
                    
                            </div>
                            <div class="flex relative gradient border-grey-border-light border-2 rounded-full py-4 pl-5 pr-9 max-w-[736px] justify-between items-center">
                                <div class="flex gap-4 items-center">
                                    <div>
                                        <img class="w-12 h-12 rounded-full" src="../../../assets/img/profile.webp" alt="">
                                    </div>
                                    <div class="flex flex-col">
                                        <h3 class="text-light-grey-summary-txt text-xl font-Folito">Google Inc</h3>
                                        <h3 class="text-dark-grey-summary-txt text-xl font-Folito">0xfh2..Ga9s</h3>
                                    </div>
                                </div>
                                <h3 class="text-light-grey-summary-txt text-xl font-Folito ml-36">$90023 USD</h3>
                                <div class="flex flex-col items-center">
                                    <h3 class="text-green text-xl font-Folito">0.0056 ETH</h3>
                                    <h3 class="text-dark-grey-summary-txt  text-xl font-Folito">$14.67 USD</h3>

                                </div>

                                    <div class="container-test absolute top-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute top-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bsolute top-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 left-[48%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[49%] w-[41px] h-[12px]"></div>

                                    <div class="container-test absolute bottom-0 right-[21.47%]">
                                        <div class="test-elipse-int bg-snd-bg absolute w-[35px] h-[26px]"></div>
                                        <div class="test-elipse bg-grey-border-light absolute w-[39px] h-[30px]"></div>
                                    </div>
                                    <div class="cache bg-snd-bg absolute bottom-[-14px] right-[18.6%] w-[41px] h-[12px]"></div>
                    
                            </div>


                        </div>
                    </div>

                    <div class="flex">
                        <div class="gradient border-grey-border-light border-2 rounded-[31px] w-[315px] h-[360px] p-8 relative">
                            <h2 class="text-xl text-txt-titl-section font-Folito">Total in (April 2023)</h2>
                            <h1 class="text-3xl text-white  font-MoskauGrotesk mt-4">$2,345.34</h1>
                            <h6 class="text-red font-MoskauGrotesk text-base flex gap-1 font-bold mt-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-down"><polyline points="22 17 13.5 8.5 8.5 13.5 2 7"/><polyline points="16 17 22 17 22 11"/></svg>
                                +9,0%
                            </h6>

                            <div class="container-test absolute top-[165px] right-0">
                                <div class="test-elipse-int bg-snd-bg absolute w-[30px] h-[44px]"></div>
                                <div class="test-elipse bg-grey-border-light absolute  w-[34px] h-[49px]"></div>
                            </div>
                            <div class="cache bg-snd-bg absolute top-[144px] right-[-18px] w-[16px] h-[50px]"></div>


                            

                            <div class="container-test absolute top-[165px] left-0">
                                <div class="test-elipse-int bg-snd-bg absolute w-[30px] h-[44px]"></div>
                                <div class="test-elipse bg-grey-border-light absolute w-[34px] h-[49px]"></div>
                            </div>
                            <div class="cache bg-snd-bg absolute top-[144px] left-[-18px] w-[16px] h-[50px]"></div>

                            
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


</div>