.crop::after {
  content: "";
  position: absolute;
  width: 3px !important;
  height: 24px !important;
  background: linear-gradient(
    222deg,
    rgb(36, 37, 40) 2.372%,
    rgb(32, 33, 37) 71.401%
  );
  // background-color: red;
  z-index: 10000 !important;
  top: 20px;
  right: -2px;
}
.crop::before {
  content: "";
  position: absolute;
  width: 2px !important;
  height: 24px !important;
  background: linear-gradient(
    122deg,
    rgb(36, 37, 40) 2.372%,
    rgb(32, 33, 36) 71.401%
  );
  // background-color: red;
  z-index: 10000 !important;
  top: 20px;
  right: 1px;

}
.test {
  backdrop-filter: blur(104px);
  background: linear-gradient(
    180deg,
    rgba(23, 24, 29, 0.14) 8.164%,
    rgba(23, 24, 29, 0.14) 92.991%
  );
}
.div1 {
  flex: 1223;
}
.div2 {
  flex: 234;
}
.div3 {
  flex: 12323;
}
.div4 {
  flex: 434;
}
