<div class="bg-nav-bg sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto">
    <div class="pt-[51px] pl-[43px]">
        <div class="flex gap-4">
            <img class="w-[45px]" src="../../../assets/icone/nav/logo.png" alt="">
            <h1 class="text-xl text-white font-Folito font-bold">MAGIX</h1>
        </div>

        <div class="flex flex-col mt-20">
            <div class="inline-flex z-50 items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 bg-crypto-1 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-layout-grid texte-bg">
                            <rect width="7" height="7" x="3" y="3" rx="1" />
                            <rect width="7" height="7" x="14" y="3" rx="1" />
                            <rect width="7" height="7" x="14" y="14" rx="1" />
                            <rect width="7" height="7" x="3" y="14" rx="1" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-crypto-1">Dashboard</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-40 items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple rounded-full cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-line-chart text-white">
                            <path d="M3 3v18h18" />
                            <path d="m19 9-5 5-4-4-3 3" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Statistics</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-30 items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-credit-card text-white">
                            <rect width="20" height="14" x="2" y="5" rx="2" />
                            <line x1="2" x2="22" y1="10" y2="10" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Cards</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-20 items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-book-user text-white">
                            <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20" />
                            <circle cx="12" cy="8" r="2" />
                            <path d="M15 13a3 3 0 1 0-6 0" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Contacts</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-10 items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-users-round text-white">
                            <path d="M18 21a8 8 0 0 0-16 0" />
                            <circle cx="10" cy="8" r="5" />
                            <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Company</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-[9] items-center gap-3">
                <div
                    class="crop relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-folder text-white">
                            <path
                                d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Statements</h1>
                </div>
            </div>
            <div class="inline-flex -mt-1.5 z-[8] items-center gap-3">
                <div
                    class=" relative bg-gradient-to-r from-nav-snd-bg to-nav-pri-bg p-1 rounded-full border-solid border-grey-border-light border-2">
                    <div class="p-4 hover:bg-light-purple cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-settings text-white">
                            <path
                                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                    </div>
                </div>
                <div>
                    <h1 class="font-Folito text-xl	text-white">Setings</h1>
                </div>
            </div>
        </div>
    </div>
</div>