@import url(https://db.onlinewebfonts.com/c/83176837d8f3969deb59b0ca08b5cbe1?family=MoskauGrotesk);
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(224.40deg, rgba(45, 46, 51, 0.71) 2.372%,rgb(27, 28, 32) 71.401%);
}

@font-face {
    font-family: "MoskauGrotesk";
    src: url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.eot");
    src: url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/83176837d8f3969deb59b0ca08b5cbe1.svg#MoskauGrotesk")format("svg");
}